body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  &.csm {
    @media(min-width: 1500px) {
      max-width: 1300px;
    }
  }

  @media(min-width: 1500px) {
    max-width: 1440px;
  }

}

// font-family: 'Italiana', sans-serif;