.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;

    .navbar {
        .navbar-brand {
            max-width: 130px;
        }

        .navbar-nav {
            @media(max-width: 1199px) {
                background: #000;
                padding: 5px;
            }

            @media(max-width: 767px) {
                overflow-y: scroll;
            }
        }

        .navbar-collapse {
            @media(min-width: 1200px) {
                padding: 20px 0;
            }
        }

        .collapse-res-nav {
            transition: all 0.3s;

            @media(max-width: 1199px) {
                transition: all 0.3s;
                left: 0;
                position: fixed;
                top: 0;
                height: 100vh;
                background: #000;
                width: 320px;
                z-index: 999;
                padding: 35px 20px 20px;

                &.hide {
                    transition: all 0.3s;
                    left: -320px;
                    overflow: hidden;
                }
            }
        }

        .nav-item {
            .nav-link {
                font-size: 12px;
                font-weight: 200;
                color: #ffffff;
            }

            .dropdown-toggle {
                &::after {
                    border: solid #ffffff;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }

        .lg-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}



.side-nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 991;
    background: #ffffff;
    border-radius: 10px;

    .wrap {
        padding: 20px;

        .ttx {
            right: calc(100% + 10px);
            top: 10px;
            background: #000;
            color: #fff;
            padding: 5px 20px;
            border-radius: 5px;

            &::after {
                content: '';
                position: absolute;
                right: -6px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                height: 15px;
                width: 15px;
                background: #000;
            }
        }
    }

    li:not(:last-child) {
        padding-bottom: 20px;
    }

    img {
        transition: all 0.1s;

        &:hover {
            transform: scale(1.05);
        }
    }

}