.btn-expo {
    background: #000000b6;
    color: #fff;
    padding: 10px 15px;
    font-weight: 200;
    font-size: 12px;
    border: 1px solid #000000;

    &:hover {
        background: #000;
    }
}

.offplan-btn {
    background: #000;
    color: #fff;
    border: 0;
    display: inline-block;
    padding: 7px 15px;

    .yellow {
        display: none;
    }

    &:hover {
        color: #d8b72b;
        background: url(../images/project/111.png);

        .yellow {
            display: inline-block;
        }

        .white {
            display: none;
        }
    }
}