.btn-expo {
    background: #000000b6;
    color: #fff;
    padding: 10px 15px;
    font-weight: 200;
    font-size: 12px;

    &:hover {
        background: #000;
        border: 1px solid #fff;
    }
}

.offplan-btn {
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}