.view-cate {
    padding: 65px 0 35px;
    margin-bottom: 60px;
    background: url(../images/shadow.png) no-repeat top left;

    .mini-heading {
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
    }

    .title {
        font-size: 100px;
        font-weight: 400;
        font-family: 'Italiana', sans-serif;
    }

    .txt {
        .number {
            line-height: 1.1;
            font-size: 45px;
            font-weight: 300;
        }

        .text {
            font-size: 18px;
            font-weight: 300;
        }
    }

    .int-b {
        padding: 16px 35px;
    }

    @media(max-width: 767px) {
        margin-bottom: 20px;

        .mini-heading {
            font-size: 16px;
        }

        .title {
            font-size: 60px;
        }

        .txt {
            .number {
                font-size: 25px;
            }

            .text {
                font-size: 14px;
            }
        }

        .int-b {
            padding: 10px 15px;
        }
    }

    .vr {
        margin: 5px 35px;
        width: 1px;
        background: rgba(#000, 0.55);
        opacity: 0.70;

        @media(max-width:767px) {
            margin: 5px 10px;
        }
    }
}

.projects {
    padding: 70px 0;

    .im-wrap {
        overflow: hidden;

        img {
            transition: all 0.3s;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .text {
        text-align: center;

        h4 {
            font-family: 'Italiana', sans-serif;
            font-size: 35px;
            padding: 25px 0 10px;
        }

        p {
            font-weight: 200;
            font-size: 16px;
        }
    }
}

.latest-news {
    background: #f9f9f9;
    padding: 70px 0;

    .wrapp-news {
        background: url(../images/home/newsbg.png) no-repeat center center/cover;
        color: #fff;
        padding: 145px 80px 235px;

        h3 {
            font-family: 'Italiana', sans-serif;
            font-size: 40px;
        }

        p {
            font-size: 13px;
            font-weight: 300;
        }
    }

    .news-section {
        margin-top: -125px;

        .news-card {
            background: #fff;

            &.colored {
                color: #fff;
                height: 100%;
                background: url(../images/home/n4.png) no-repeat bottom center/cover;

                a {
                    color: #fff;
                    font-weight: 300;
                    font-size: 12px;
                    display: inline-block;
                    padding: 5px 18px 15px;
                }
            }

            .text {
                padding: 35px 20px 20px;

                @media(min-width:765px) {
                    min-height: 350px;
                }

                @media(min-width:1200px) {
                    min-height: 380px;
                }

                .mini-title {
                    color: #406cb1;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 400;
                }

                .heading {
                    font-weight: 400;
                    font-size: 20px;
                    position: relative;
                    padding: 15px 0;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 90px;
                        height: 1px;
                        background: #0000004f;
                    }
                }

                .para-r {
                    padding-top: 20px;

                    .para {
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }

            a {
                color: #000;
                font-weight: 300;
                font-size: 12px;
                display: inline-block;
                padding: 5px 18px 15px;
            }

            .image {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background: #fff;
                    width: 20px;
                    height: 20px;
                    left: 50px;
                    top: -10px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    @media(max-width: 767px) {
        padding: 50px 0;

        .wrapp-news {
            padding: 100px 20px 200px;
        }
    }
}

.featured-in {
    padding: 80px 0;

    .container {
        max-width: 1100px;

        .swiper-wrapper {
            align-items: center;

            .swiper-slide {
                text-align: center;
                padding: 0 20px;
                position: relative;
                min-height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0px;
                    top: 30px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 40px;
                    background: rgba(#000, 0.25);
                    z-index: 99;
                }
            }
        }
    }
}

.feedback {
    padding: 80px 0;

    @media(max-width:767px) {
        padding: 60px 0 40px;
    }

    .com {
        position: relative;

        &::after {
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            content: '“';
            left: -30px;
            font-size: 60px;
            line-height: .9;
            z-index: 8;
            top: 0;


            @media(max-width:767px) {
                font-size: 25px;
                left: -10px;
            }
        }
    }

    .sec-header {
        position: relative;
        overflow: hidden;

        p {
            font-size: 26px;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            z-index: 5;
            display: inline-block;
            padding-right: 10px;

            @media(max-width: 991px) {
                font-size: 22px;
            }

        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background: #000;
            left: 180px;
            top: 50%;
            z-index: 1;

            @media(max-width: 991px) {
                left: 150px;
            }
        }
    }

    h2 {
        font-family: 'Italiana', sans-serif;
        font-size: 65px;

        @media(max-width: 991px) {
            font-size: 50px;
        }
    }

    .testimonial {
        .swiper-slide {
            .parag {
                min-width: none;
                min-height: 140px;
                background: rgb(249, 249, 249);
                padding: 15px;

                p {
                    color: #828282;
                    font-size: 18px;
                }
            }

            .name {
                margin-top: 10px;
                padding-right: 50px;
                color: #000000;
                font-size: 18px;
            }


        }

        .swiper-button-next {
            top: calc(100% - 40px);
            right: calc(100% - 110px);

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            top: calc(100% - 40px);
            left: 0px;

            &::after {
                display: none;
            }
        }

        .swiper-pagination {
            top: calc(100% - 52px);

            &.swiper-pagination-fraction {
                width: auto;
                left: 40px;
            }
        }
    }
}